body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.catalogue {
    max-width: 200px;
    margin: 0 auto;
}

.exercise {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    background-color: #fff;
}

.exercise p {
    margin: 0;
    margin-left: 20px;
    font-weight: bold;
    flex: 1;
    font-size: 18px;
}

.gif-container {
    width: 50px;
    height: 50px;
    overflow: hidden;
}

.gif-container img {
    width: 100%;
    height: auto;
    display: block;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
}

.gif-container:hover img {
    opacity: 1;
    pointer-events: auto;
}
